<a href="https://colab.research.google.com/github/gracesousa0/BTE320/blob/main/In_Class_BTE320_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Shape Area Calculator

r = 3
pi = 3.14
h= 10

area = (2 * pi * r ** 2) + (2 * pi * r * h)

print(area)

244.92000000000002

In [ ]:
# Rock Paper Scissors Game

c = input('Do you want to play?')

while c == 'yes':
    p1 = input("Choose r, p, s:")
    p2 = input("Choose r, p, s:")
    if p1 == p2:
        print('Draw')
    elif (p1 == 'r' and p2 == 's') or (p1 == 's' and p2 == 'p') or (p1 == 'p' and p2 == 'r'):
        print('P1 wins')
    else:
        print('P2 wins')
    c = input('Do you want to play again?') # this will forever evaluate

# while loops makes more sense, not sure how many iterations you wnat to do
# main difference , for loop works for a cerian KNOWN bound iteration, while loop works for an unknown iteration

Do you want to play?yes
Choose r, p, s:p
Choose r, p, s:r
P1 wins
Do you want to play again?no

In [ ]:
# numerical calculator

import random

input1 = float(input("Enter an integer:"))
input2 = float(input("Enter an integer:"))
symbol = input("Choose operation:")

if symbol == "*":
  calculation = input1 * input2
  print(calculation)

elif symbol == "+":
  calculation = input1 + input2
  print(calculation)

elif symbol == "-":
  calculation = input1 - input2
  print(calculation)

elif symbol == "/":
  calculation = input1/input2
  print(calculation)

else:
  calculation = input1 ** input2
  print(calculation)

Enter an integer:2
Enter an integer:3
Choose operation:**
8.0

In [1]:
# parking garage problem
flatRate = 5
for t in range(1,9):
  charge = flatRate + 2.5 * t
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(t, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [2]:
# movie theater - inital problem

ticket = 10
ad_dollars = 200
people = 20

for i in range(0, 201, 25):
  profit = ticket * round(people + 2 * round(i**0.5)) - (ad_dollars) - i
  print(i, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
# movie theater (using while loop)

from re import A
ticketPrice = 10
fixedCost = 200
standardAttendees = 20

ad = 0
while ad < 201:
  profit = 10 * (standardAttendees + 2 * round(ad ** 0.5)) - fixedCost - ad
  print(ad, profit)
  ad = ad + 25

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
# create a list from scratch, ask user to provide number, add numbers to the list, and repeats until


# input -- this number will be added to the list
# loop this until 0

l = []
user_choice =int(input("What number would you like to add? Choose 0 to exit"))

while user_choice != 0:
  l.append(user_choice)
  print(l)

  user_choice = str(input("Do you want to add another number?"))
  if user_choice == 'no':
    break

What number would you like to add? Choose 0 to exit2
[2]
Do you want to add another number?yes
[2, 'yes']
Do you want to add another number?yes
[2, 'yes', 'yes']
Do you want to add another number?3
[2, 'yes', 'yes', '3']
Do you want to add another number?no

In [ ]:

l = []

item = int(input("Give a value:"))
while item != 0:
  l.append(item)
  item = int(input("Give another value:"))
  print(l)

Give a value:1
Give another value:5
[1]
Give another value:9
[1, 5]
Give another value:0
[1, 5, 9]

In [ ]:
# months2numbers

months = {} #empty dictionary
names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul',
         'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for i in range(12): # goes from 0 to 11
  months[i+1] = names[i] # assign first items from names to numbers
print(months)

# have to think about how you can iterate over numbers and get expected output

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

October 22, 2024 -- functions continued

In [3]:
# fee calcualtion and display functions

def calcFee(hours): #ALWAYS PUT THE DEFINITION FIRST, THEN MAIN EXPRESSIONS
  parkingFee = 5 + (2.5*hours)
  return parkingFee

hours = float(input("Enter hours parked:"))
calcFee(hours)

Enter hours parked:3

12.5

In [4]:
def calcFee(hours, decimals=2): # same thing just with display functions
  parkingFee = 5 + (2.5*hours)
  parkingFee = round(parkingFee, decimals)
  return parkingFee

def displayFee(parkingFee):
  print(parkingFee)

hours = float(input("Enter hours parked:"))

parkingFee = calcFee(hours)
displayFee(parkingFee)

Enter hours parked:4
15.0

October 29 - Inclass assignment

In [ ]:
# reverse function (recursion)

def rev(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + rev(s[0:-1])

rev('Hello')

'olleH'

In [ ]:
#student class

class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
  def describe(self):
    print(f'Name: {self.name}, Number: {self.number}')

s1 = Student("James Bond", "007")
s2 = Student("Clark Kent", "333")

s1.describe()
s2.describe()

Name: James Bond, Number: 007
Name: Clark Kent, Number: 333

In [6]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.courses = []

  def enroll(self, Course):
    if Course not in self.courses:
      self.courses.append(Course)
    else:
      print(f'You have already enrolled in {Course}.')

  def get_courses(self):
    return self.courses

In [10]:
s = Student('Bob', '123')

In [9]:
s.enroll('BTE23')

You have already enrolled in BTE23.

stuff to ask prof
- why do i have those mini assignemnts? should they be included?
- ask him to look over student class
-